<?xml version="1.0"?>
<!--
/**
 * Highstreet_HSAPI_module
 *
 * @package     Highstreet_Hsapi
 * @author      Tim Wachter (tim@touchwonders.com) ~ Touchwonders
 * @copyright   Copyright (c) 2013 Touchwonders b.v. (http://www.touchwonders.com/)
 */
 -->
<config>
    <modules>
        <Highstreet_Hsapi>
            <version>1.4.3</version>
        </Highstreet_Hsapi>
    </modules>
    <frontend>
        <routers>
            <hsapi>
                <use>standard</use>
                <args>
                    <module>Highstreet_Hsapi</module>
                    <frontName>hsapi</frontName>
                </args>
            </hsapi>
        </routers>
        <translate> 
            <modules> 
                <Highstreet_Hsapi> 
                    <files> 
                        <default>Highstreet_Hsapi.csv</default> 
                    </files> 
                </Highstreet_Hsapi> 
            </modules> 
        </translate>
        
    </frontend>
    <global>
        <models>
            <highstreet_hsapi>
                <class>Highstreet_Hsapi_Model</class>
            </highstreet_hsapi>
        </models>
        <helpers>
            <highstreet_hsapi>
                <class>Highstreet_Hsapi_Helper</class>
            </highstreet_hsapi>
        </helpers>
        <blocks>
            <highstreet_hsapi>
                <class>Highstreet_Hsapi_Block</class>
            </highstreet_hsapi>
        </blocks>
        <resources>
            <highstreet_hsapi_setup>
                <setup>
                    <module>Highstreet_Hsapi</module>
                </setup>
            </highstreet_hsapi_setup>
        </resources>
        <events> 
           <sales_quote_merge_before>
                <observers>
                    <highstreet_hsapi_merge_quote>
                        <type>singleton</type>
                        <class>Highstreet_Hsapi_Model_Observer</class>
                        <method>mergeQuote</method>
                    </highstreet_hsapi_merge_quote>
                </observers>
           </sales_quote_merge_before>           
	       <sales_order_invoice_pay>
                <observers>
                    <highstreet_hsapi_sales_order_invoice_pay>
                        <class>Highstreet_Hsapi_Model_Observer</class>
                        <method>salesOrderInvoicePay</method>
                    </highstreet_hsapi_sales_order_invoice_pay>
                </observers>
            </sales_order_invoice_pay>
            <sales_order_invoice_cancel>
                <observers>
                    <highstreet_hsapi_sales_order_invoice_cancel>
                    	<class>Highstreet_Hsapi_Model_Observer</class>
                    	<method>salesOrderInvoiceCancel</method>
                    </highstreet_hsapi_sales_order_invoice_cancel>
                </observers>
            </sales_order_invoice_cancel>
    	</events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <highstreet_hsapi>
                                            <title>Highstreet</title>
                                        </highstreet_hsapi>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
